body{
    background-color: #d3dee949;
    
    
    
}
.main{
    width: 300px;
    height:130px;
    text-align: center;
    
}
.button{
    width:200px;
    border:2px solid #facc15;
    padding: 5px;
    border-radius:6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.button:hover{
    background-color: #facc15;
    box-shadow: 0 3px 8px #facc15;

}
.colorGrid{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius:3px;
    margin-top: 15px;
}
  .selectedColor{ 
    display: inline-block;
    align-items:center;
    margin-top: 1px;
}
.colorValue{
    margin-left: 5px;
    margin:auto;
    font-weight: bold;
}

